@use "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

@import "vue-toastification/dist/index.css";

@plugin "daisyui" {
    themes: light --default, dark --prefersdark;
    root: ":root";

    exclude: rootscrollgutter;
}

.leaflet-popup-content {
    user-select: none; /* Prevent text selection */
}

body {
    overflow: auto !important;
}
